[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
matplotlib = "==3.2.1"
torch-summary = "*"
einops = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
